{% extends 'base.html' %}
{% block title %}welcome to my blog {% endblock%}
{% block content %}

    {% for post in posts%}

    {%  include 'posts/post.html' %}
    <!-- <div class="card">
       
        <div class="card-header">
            <h2><a href="{% url 'detail' post.id %}"> {{post.title}}</a></h2>
        </div>
       
        <div class="card-body">
           
            <blockquote class="blockquote mb-0">
                <p> {{post.body}}</p>
            </blockquote>
            <hr>
            <p>Author: {{ post.author }}</p>
        </div>
    </div> -->
   
    {% endfor %}

{% endblock%}

<!-- <a href="{% url 'detail' post.id %}">  -->

    <!-- Hello, the current time is {{current_time}}.
    <hr>
    There are currently{{num_posts}} posts.
    <hr> -->
    <!-- <h2> {{post.title}}</h2> -->
    <!-- <p> {{post.body}}</p> -->
     <!-- 
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
          